<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="col-10">
        <form id="formProjectPost" #ProgPost="ngForm">
          <fieldset>
            <legend>Création Programme</legend>
            <div class="form-group">
              <label>Projet auquel la Programme est associée :</label>
              <!-- option *ngFor="let i of lstTask" && {{i.nomTask}} -->
              <select class="form-control">
                <option>
                  Nom de Projet (En attente d'api)
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Nom Programme :</label>
              <input class="form-control" type="text" name="formProjectName" ngModel
                     placeholder="Saisissez le nom du programme" required>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit" [disabled]="!ProgPost.form.valid">Enregistrer Programme</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
