<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="col-4">
        <form id="formProjectPost" [formGroup]="projectForm" (ngSubmit)="submit()">
          <fieldset>
            <legend>Create Project</legend>
            <div class="form-group">
              <label>Project Name :</label>
              <input class="form-control" formControlName="formProjectName" type="text" name="formProjectName"
                   placeholder="Project Name" required>
            </div>
            <div class="form-group">
              <label>Project type :</label>
              <select formControlName="formProjectCategoryId" class="form-control"  required >
                <option *ngFor="let category of lstCategory" name="formProjectCategoryId" [value]="category.CategoryId">
                  {{category.CategoryName}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Customer :</label>
              <select formControlName="formProjectCustomerId" class="form-control" required>
                <option *ngFor="let customer of lstCustomer" name="formProjectCustomerId" [value]="customer.CustomerId">
                  {{customer.CustomerName}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Start date of the project :</label>
              <input formControlName="formProjectStartDate" class="form-control" type="date" name="formProjectSartDate" required>
            </div>
            <div class="form-group">
              <label>End date of the project :</label>
              <input formControlName="formProjectEndDate" class="form-control" type="date" name="fromProjectEndDate" required>
            </div>
            <div class="form-group">
            <label>description :</label>
            <textarea formControlName="formProjectDescription" class="form-control" name="formProjectDescription"
                      placeholder="describe the project" [defaultValue]=""></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Register Project</button>
          </div>
            </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
