<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="col-4">
        <form id="formProjectPost" [formGroup]="TaskForm" (ngSubmit)="submit()">
          <fieldset>
            <legend>Create Task</legend>
            <div class="form-group">
              <label>project associated :</label>
              <select formControlName="formTaskProjectId" class="form-control">
                  <option *ngFor="let Project of lstProjects" name="fromTaskProjectId" [value]="Project.ProjectId">
                    {{Project.ProjectName}}
                  </option>
              </select>
            </div>
            <div class="form-group">
              <label>Task name :</label>
              <input formControlName="formTaskName" class="form-control" type="text" name="formTaskName" placeholder="Task name" required>
            </div>
            <div class="form-group">
              <label>Assigned Time</label>
              <input class="form-control" formControlName="formTaskAssignedTime" type="number" step="1">
            </div>
            <div class="form-group">
              <label>Start date of the task :</label>
              <input formControlName="formTaskStartDate" class="form-control" type="date" name="formTaskStartDate" required>
            </div>
            <div class="form-group">
              <label>End date of the task :</label>
              <input formControlName="formTaskEndDate" class="form-control" type="date" name="fromTaskEndDate" required>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Register task</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
