
<h3>Tableau des Projets en cours</h3>
<label>Recherche : </label>
<Input type="search" placeholder="taper le nom d'un projet" size="22">
<table>
  <thead>
    <th>Projet</th>
    <th>Tâche</th>
    <th>Employé</th>
    <th>temps total (en h)</th>
    <th>Client</th>
  </thead>
  <tbody>
    <tr>
      <td>Test</td>
      <td>API</td>
      <td>Maxime</td>
      <td>2</td>
      <td>Filip</td>
    </tr>
    <tr>
      <td>Test</td>
      <td>nan l'api marche plus</td>
      <td>Maxime</td>
      <td>1.5</td>
      <td>Filip</td>
    </tr>

  </tbody>
</table>
