<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="col-4">
        <form [formGroup]="workForm" class="form-control" (ngSubmit)="submit()">
            <div class="form-group">
              <label>Project :</label>
              <select formControlName="formWorkProjectId" class="form-control">
                <option *ngFor="let Project of lstProjects" name="fromTaskProjectId" [value]="Project.ProjectId">
                  {{Project.ProjectName}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Task :</label>
               <select formControlName="formWorkTaskId" class="form-control">
                <option *ngFor="let task of lstTasks" name="fromTaskProjectId" [value]="task.TaskId">
                  {{task.TaskName}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Employee :</label>
              <select formControlName="formWorkUserId" class="form-control">
                <option *ngFor="let user of lstUsers" name="fromWorkProjectId" [value]="user.UserId">
                  {{user.Username}}
                </option>
              </select>
            </div>
          <div class="form-group">
            <label>Assigned Time</label>
            <input class="form-control" formControlName="formWorkAssignedTime" type="number" step="1">
          </div>
          <div class="form-group">
            <label>Start date of the work :</label>
            <input formControlName="formWorkStartDate" class="form-control" type="date" name="formWorkStartDate">
          </div>
          <div class="form-group">
            <label>End date of the work :</label>
            <input formControlName="formWorkEndDate" class="form-control" type="date" name="fromWorkEndDate">
          </div>
            <button class="btn btn-primary" type="submit">Validation</button>
        </form>
      </div>
    </div>
  </div>
</div>

